@page "/ed/{id}"
@inherits EmployeeInfo.Bases.EmployeeDetailBase
@using EmployeeInfo.Models

@if (employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row  m-3">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header font-weight-bold d-flex justify-content-center">
                    <h1>@employees.Name</h1>
                </div> 
                <div class="card-body text-center">

                    <h4>Employee ID: @employees.EmployeeId</h4>
                    <h4>Adress: @employees.Address</h4>
                    <h4>Starting Date: @employees.StartDate.ToString()</h4>
                    <h4>Department: @employees.DepartmentId</h4>
                    <h4>Education: @employees.EducationId</h4>
                </div>
                <div class="card-footer text-center">
                    <a href="/lp" class="btn btn-primary">Back</a>
                    <a href="@($"editstaff/{employees.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
